@import "~inuit-css";

:root {
  --primary-color: #fdc800;
  --secondary-color: #fdc800;
  --link-color: #538BF4;
  --fontPrimary--color: #434343;
  --lightGrey-color: #E9ECEF;
  --darkGrey-color: #8FA4B8;
  --dark-color: #5A6169;
  --active-color: #007BFF;
  --grid-maxWidth: 1200px;
}

@mixin respond-to($breakpoint) {
  @if $breakpoint == "small" {
    @media (min-width: 36rem) {
      @content
    }
  } @else if $breakpoint == "medium" {
    @media (min-width: 45rem) {
      @content
    }
  } @else if $breakpoint == "large" {
    @media (min-width: 920px) {
      @content
    }
  }
}

body {
  //font-family: 'Roboto', sans-serif;
  font-weight: 600;
  letter-spacing: .2rem;
  font-family: 'Permanent Marker', cursive;
  overflow-x: hidden;
}

h2 {
  font-weight: 100;
  line-height: 1em;
}

h3 {
  line-height: 1em;
}

p {
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

.middle-items {
  align-items: center !important;
}

.vc_row.container {
  margin: auto !important;
}

.Booking {
  font-size: 2.6rem;
  a {
    background: #FF281F;
    color: #FFFFFF;
    display: inline-block;
    padding: .1rem 2rem;
    margin-left: 2rem;
    border-radius: .6rem;
  }
}

.wpb_gallery {
  a {
    padding: .5rem;
  }
}

@import "template/header";
@import "template/home";
@import "template/about";
@import "template/plan";
@import "template/contact";
@import "template/footer";
@import "template/blog";

.ReservationForm {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  background: rgba(0, 0, 0, .7);
  z-index: 1000;
  &-close {
    position: absolute;
    right: 2rem;
    top: 2rem;
    color: white;
    font-size: 4rem;
    cursor: pointer;
  }
  &-form {
    padding: 1rem 2rem;
    border-radius: .5rem;
    background: #782a0b;
    width: 100%;
    max-width: 40rem;
    margin: 1rem;
  }
  h4 {
    color: var(--primary-color);
    font-size: 2.4rem;
  }
  p{
    font-size: 2.2rem;
    color: white;
  }
  input {
    margin: 1rem 0;
  }
}

